<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-15T10:08:54Z</date>
	<key>WorkspacePath</key>
	<string>/Users/macbook/Working/fmslogo-unicode/fmslogo_mac.xcodeproj</string>
</dict>
</plist>
